
.logo { background-image: none; }
.splash { background-image: none; }

body {
    
    --pb-splash-background-color: #008F8F;
    --pb-logo-image-width: auto;
    --pb-logo-image-height: auto;
    --pb-menubar-background-color: #FFFFFF;
    --pb-toolbar-background-color: #E2F4F1;
    --pb-toolbar-color: #353831;
    --pb-menubar-color: #353831;
    --pb-color-primary: #353831;
    --pb-color-inverse: #ffffff;
    --pb-lang-input-color: #353831;
    --pb-lang-label-color: #353831;
    --pb-drawer-background-color: var(--pb-color-inverse);
    --pb-base-font-family: "Montserrat", sans-serif;
    --pb-base-font-weight: 300;
    --pb-content-font-size: 18px;
    --pb-breadcrumbs-font-size: 12px;
    --pb-serif-font-family: "Roboto Slab";
    --pb-link-color: #353831;
    --iron-icon-fill-color: #353831;
    --paper-checkbox-checked-color: #353831;
    --paper-font-common-base_-_font-family: "Montserrat";
    --paper-checkbox-checked-color: #353831;

    --pb-landing-accent-background-color: #7ac7c4;
    --pb-landing-background-color: #e2f4f1;
    --pb-landing-link-color: #008f8f;
}

[drawer-toggle] {
    padding: 0.5rem;
}
h1, h4, h5 {
    font-family: var(--pb-serif-font-family);
    font-weight: 400;
    line-height: var(--pb-heading-line-height);
}

h2, h3, h6 {
    font-family: var(--pb-base-font-family);
    font-weight: 400;
    line-height: var(--pb-heading-line-height);
}
.menubar{
    display: block;
    padding:0 0.5rem;
}
.menubar nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--pb-menubar-background-color);
    color: var(--pb-menubar-color);
    --pb-search-suggestions-color: var(--pb-menubar-color);
    --pb-search-suggestions-background: var(--pb-menubar-background-color);
    align-items: center;
    max-height: 100%;
    width: 100%;
}
.menubar  a {
    font-family: var(--pb-base-font-family);
    font-weight: 400;
    white-space: nowrap;
}
.menubar pb-media-query{
    display: flex;
    width: 100%;
}
.menubar .small{
    display: flex;
    justify-content: start;
    align-items: center;
}
.menubar .small #drawer{
    position: absolute;
    right: 1rem;
}

.menubar .small pb-search{
    /*flex-grow: 1;*/
}


.toolbar a {
    color: #353831;
    text-decoration: none;
}


.splash {
    background-color: #008F8F;
}

.splash img {
    
    margin: 0;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

@media (max-width: 768px)    {
    .splash img  {
        width: 50%;
    }
}

  pb-drawer {
             background-color: #E2F4F1;
}

footer {
    background-color: #F2F0EB;
}
    
#footerGray {
    text-align: center;
    height: 11em;
    width: auto;
}

#footerGray img {
    display: inline-block;
    height: 90px;
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1em;
}    


#footerGray p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    padding-top: 0.5em;
}

 
#footerGreen {
    height: 2.3em;
    width: auto;
    background-color: #008F8F;
    position: relative;
    overflow: hidden;
    font-weight: 500;
}
 
p.license,
p.version {
    display: none;
}

.poweredBy {
    position: absolute;
    top: 15%;
    bottom: auto;
    right: auto;
    left: 0.5%;
    width: 70px;
    height: auto;
}
  
.cc  {
    position: absolute;
    top: 27%;
    bottom: auto;
    right: 1%;
    left: auto;
    width: 35px;
    height: auto;
}

#page-nav label{
    display: none;
}

@media (min-width: 374px) {
    
    #footerGray {
       height: 7.5em;
       width: auto;
    }
}

    
@media (min-width: 480px) {
    
    #footerGray {
        height: 8em;
        width: auto;
    }
    
    #footerGray img {
        width: 100px;
        height: auto;
    }
    
    #footerGreen {
        height: 2.7em;
        width: auto;
    }
    
    .poweredBy {
        width: 80px;
        height: auto;
    }
  
    .cc  {
        width: 45px;
        height: auto;
    }
    
}

@media (min-width: 768px) {
    
    #footerGray {
        height: 10.5em;
        width: auto;
    }
    
    #footerGray p {
    font-size: 14px;
        
    }
    
    #footerGray img {
        width: 130px;
        height: auto;
        margin-left: 2.5em;
        margin-right: 2.5em;
    }
    
    #footerGreen {
        height: 3.2em;
        width: auto;
    } 
    
    .poweredBy {
        width: 100px;
        height: auto;
    }
    
    .cc {
        width: 50px;
        height: auto;
    }
    
    .menubar.logo {
    margin: 8px 16px 0 0;
}
}

@media (min-width: 992px) {
    
     
    #footerGray {
        height: 12em;
        width: auto;
    } 
    
    #footerGray img {
        width: 160px;
        height: auto;
        margin-left: 3.5em;
        margin-right: 3.5em;
        
    }
    
    #footerGreen {
        height: 3.4em;
        width: auto;
    }
    
    p.license,
    p.version {
        display: inline-block;
        font-size: 0.9em;
        font-family: Montserrat;
        color: white;
        font-weight: 500;
      
    }
    
    p.license span,
    p.version span  {
    font-weight: 500;
    }

    .poweredBy {
        width: 110px;
        height: auto;
        position: absolute;
        top: 14%;
        bottom: auto;
        
    }
    
    .cc {
        width: 60px;
        height: auto;
        
       
    }
   
    .license {
        position: absolute;
        top: 35%;
        bottom: auto;
        right: 9%;
        left: auto;
    }

    .version {
        position: absolute;
        top: 15%; 
        bottom: auto;
        left: 13%;
        right: auto;
    }
}

@media (min-width: 1200px) {
    
    #footerGray {
        height: 12.5em;
        width: auto;
    } 
    
    #footerGray p {
        font-size: 16px;
    }

    .license {
        position: absolute;
        top: 35%;
        bottom: auto;
        right: 8%;
        left: auto;
    }

    .version {
        position: absolute;
        left: 11%;
        bottom: auto;
    }
    #page-nav label{
        display: inline-block;
        margin-right:0.25rem;
    }
   
    
@media (min-width: 1400px) {
    
    #footerGray {
        height: 13.8em;
        width: auto;
    } 
    
    #footerGray img {
        width: 180px;
        height: auto;
        margin-left: 5em;
        margin-right: 5em;
    }
    
    
    #footerGreen {
        height: 3.8em;
    }
    
    p.license,
    p.version {
        font-size: 0.8em;
    }

   .poweredBy {
        position: absolute;
        top: 12%;
        bottom: auto;
        width: 130px;
        height: auto;
        
    }
    
    .cc {
        width: 70px;
        height: auto;
    }
    
}

a {
    text-decoration: none;
}

/* Startpage (index.html) */
/* upload panel */
aside .upload {
    margin: 1.5rem 0 0 0;
}


/*
@media (min-width: 1024px) {
    app-drawer {
        display: none;
    }

    #drawer {
        display:none;
    }
}
*/
