<div data-template="browse:is-writeable" class="collection">
    <div data-template="browse:dispatch-action"/>
    <div>
        <paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:folder"></iron-icon>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
        <ul class="documents" data-template="browse:browse" data-template-per-page="10">
            <li class="document">
                <div class="document-info">
                    <header data-template="browse:short-header"></header>
                    <div class="matches" data-template="browse:show-hits"></div>
                    <!-- TODO this toolbar should only appear once per Documents papercard -->
                    <app-toolbar>
                        <paper-item data-template="pages:if-supported" data-template-media="print">
                            <a href="${app}/print/${ident}" target="_new" data-template="pages:parse-params" title="Print CSS">
                                <iron-icon icon="icons:print"/>
                            </a>
                        </paper-item>
                        <paper-item data-template="pages:if-supported" data-template-media="epub">
                            <pb-download type="epub" src="document1" dialog="downloadDialog" title="ePUB" data-template="browse:download-link">
                                <iron-icon icon="icons:chrome-reader-mode"/>
                            </pb-download>
                        </paper-item>
                        <paper-item>
                            <pb-edit-xml data-i18n="[title]menu.download.view-tei" title="XML" path="${path}">
                                <iron-icon icon="icons:code"/>
                            </pb-edit-xml>
                        </paper-item>
                        <pb-restricted login="login" group="tei">
                            <pb-ajax url="api/document/${ident}" method="delete" emit="search" event="pb-search-resubmit"
                                confirm="browse.confirmDeletion" quiet="" data-template="pages:parse-params">
                                <paper-icon-button icon="icons:delete"></paper-icon-button>
                                <h3 slot="title"><pb-i18n key="browse.delete"></pb-i18n></h3>
                            </pb-ajax>
                        </pb-restricted>
                    </app-toolbar>
                </div>
            </li>
        </ul>
    </div>
</div>
