<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
            <div style="padding-top: 10px;">
                <a href="${app}/index.html?collection=${collection}" data-i18n="[title]browse.${collection}.title" title="" data-template="pages:parse-params">
                    <pb-i18n key="menu.home"/>
                </a>
            </div>
            <div style="padding-top:10px;">
                <a href="${app}/articles/about.xml" data-template="pages:parse-params">
                    <pb-i18n key="menu.about"/>
                </a>
            </div>
            <div style="padding-top:10px; padding-bottom:10px;">
                <a href="${app}/articles/team.xml" data-template="pages:parse-params">
                    <pb-i18n key="menu.team"/>
                </a>
            </div>
            <div style="padding-top:10px; padding-bottom:10px;">
                <a href="${app}/index.html" data-template="pages:parse-params">
                    <pb-i18n key="menu.documents"/>
                </a>
            </div>
            <div style="padding-top:10px; padding-bottom:10px;">
                <a href="${app}/articles/criterios.xml" data-template="pages:parse-params">
                    <pb-i18n key="menu.criterios"/>
                </a>
            </div>
<!--
            <paper-item>
                <a href="${app}/print/${doc}" target="_new" data-template="pages:parse-params" title="Print CSS">
                    <iron-icon icon="icons:print"/>
                </a>
            </paper-item>
            <paper-item>
                <pb-download type="epub" src="document1" data-i18n="[title]menu.download.epub" dialog="downloadDialog">
                    <iron-icon icon="icons:chrome-reader-mode"/>
                </pb-download>
            </paper-item>
            <paper-item>
                <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                    XML
                </pb-edit-xml>
            </paper-item>
-->
            <!-- language selector -->
            <pb-lang name="lang" data-template="pages:languages"/>

    </div>
</app-drawer>