<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <div style="padding-top:10px;">
                <a href="about.xml">Über das Projekt</a>
            </div>
            <div style="padding-top:10px; padding-bottom:10px;">
                <a href="team.xml">Das Team</a>
            </div>
            <!-- language selector -->
            <pb-lang name="lang" data-template="pages:languages"/>
            
            
            <!--
            <pb-restricted login="login">
                <pb-collapse>
                    <h3 slot="collapse-trigger">
                        <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                    </h3>
                    <paper-listbox slot="collapse-content">
                        <paper-item>
                            <pb-download data-template="pages:edit-odd-link" src="document1">
                                <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                            </pb-download>
                        </paper-item>
                        <paper-item>
                            <a href="${app}/manage.html" data-template="pages:parse-params">
                                <pb-i18n key="menu.admin.appGenerator"/>
                            </a>
                        </paper-item>
                    </paper-listbox>
                </pb-collapse>
            </pb-restricted>
            -->
        </pb-media-query>
        <div class="settings">
            <h3>Settings</h3>
            <pb-toggle-feature emit="transcription" subscribe="transcription" name="view" on="page" off="div" init-from-view="init-from-view">
                <pb-i18n key="document.view-type">Page View</pb-i18n>
            </pb-toggle-feature>
            <pb-edit-xml src="document1">
                <paper-button alt="Edit source">
                    <iron-icon icon="icons:code"/> <pb-i18n key="menu.download.view-tei"/>
                </paper-button>
            </pb-edit-xml>
        </div>
    </div>
</app-drawer>