<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <div style="padding-top: 10px;">
                <a href="${app}/index.html?collection=${collection}" data-i18n="[title]browse.${collection}.title" title="" data-template="pages:parse-params">
                    <pb-i18n key="menu.home"/>
                </a>
            </div>
            <div style="padding-top:10px;">
                <a href="${app}/articles/about.xml" data-template="pages:parse-params">
                    <pb-i18n key="menu.about"/>
                </a>
            </div>
            <div style="padding-top:10px; padding-bottom:10px;">
                <a href="${app}/articles/team.xml" data-template="pages:parse-params">
                    <pb-i18n key="menu.team"/>
                </a>
            </div>
            <div style="padding-top:10px; padding-bottom:10px;">
                <a href="${app}/articles/criterios.xml" data-template="pages:parse-params">
                    <pb-i18n key="menu.criterios"/>
                </a>
            </div>
            <paper-item>
                <a href="${app}/print/${doc}" target="_new" data-template="pages:parse-params" title="Print CSS">
                    <iron-icon icon="icons:print"/>
                </a>
            </paper-item>
            <paper-item>
                <pb-download type="epub" src="document1" data-i18n="[title]menu.download.epub" dialog="downloadDialog">
                    <iron-icon icon="icons:chrome-reader-mode"/>
                </pb-download>
            </paper-item>
            <paper-item>
                <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                    <iron-icon icon="icons:code"/>
                </pb-edit-xml>
            </paper-item>
            <!-- language selector -->
            <pb-lang name="lang" data-template="pages:languages"/>


            <!--
            <pb-restricted login="login">
                <pb-collapse>
                    <h3 slot="collapse-trigger">
                        <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                    </h3>
                    <paper-listbox slot="collapse-content">
                        <paper-item>
                            <pb-download data-template="pages:edit-odd-link" src="document1">
                                <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                            </pb-download>
                        </paper-item>
                        <paper-item>
                            <a href="${app}/manage.html" data-template="pages:parse-params">
                                <pb-i18n key="menu.admin.appGenerator"/>
                            </a>
                        </paper-item>
                    </paper-listbox>
                </pb-collapse>
            </pb-restricted>
            -->
        </pb-media-query>
        <div class="settings">
           
        </div>
    </div>
</app-drawer>