<nav class="menubar">
    <pb-media-query query="min-width: 78rem">
        <a href="${app}/start.html" class="logo" data-template="pages:parse-params">
            <img alt="logo of Proyecto Humboldt Digital" src="resources/images/logopositivo.svg"/>
        </a>

        <a href="${app}/articles/about.xml" data-template="pages:parse-params">
            <pb-i18n key="menu.about"/>
        </a>
        <a href="${app}/articles/team.xml" data-template="pages:parse-params">
            <pb-i18n key="menu.team"/>
        </a>
        <a href="${app}/index.html" data-template="pages:parse-params">
            <pb-i18n key="menu.documents"/>
        </a>
        <a href="${app}/articles/criterios.xml" data-template="pages:parse-params">
            <pb-i18n key="menu.criterios"/>
        </a>

        <span class="search"><pb-search action="${app}/search.html" data-template="pages:parse-params" value="${query}" redirect="redirect" role="search"/></span>

        <pb-lang name="lang" data-template="pages:languages"/>
    </pb-media-query>

    <!-- Search input -->
    <!-- language selector -->
    <pb-media-query class="small" query="max-width: 78rem">
        <a href="${app}/start.html" class="logo" data-template="pages:parse-params">
            <img alt="logo of Proyecto Humboldt Digital" src="resources/images/logopositivo.svg"/>
        </a>


        <pb-search action="${app}/search.html" data-template="pages:parse-params" value="${query}" redirect="redirect" role="search"/>

        <paper-icon-button id="drawer" icon="icons:menu" drawer-toggle="drawer-toggle" role="navigation"/>
    </pb-media-query>

</nav>